/src/META-INF/
/button.png
/Platinum.nds
/pokeditor_config
/TestProject.nds
/lib/
/Master Template Projects/
/NewProject/
/out/
/PokEditor/
/Program Files/
/releases/
/roms/
/PokEditor/
/doNotInclude/
/extracted/
/Found/
/Gen 5 Editing Information/
/GoogleSheetsAPI/out/
